<div class="paths-item">
<span title="User">{{user}}</span>
<span title="Type">{{type}}</span>
<span title="Startpoint">{{start}}</span>
<span title="Unit">{{unit}}</span>
<a href="javascript:" class="paths-remove"><span class="glyphicon glyphicon-remove"></span></a>
<!-- {{user}} - {{type}} - {{start}} - {{length}} - {{unit}} -->
</div>
